*{
	margin: 0;
	padding: 0;
}
.container {
    width: 1080px;
    margin: 0 auto;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul {
    list-style: none;
    display: flex;
}
nav a {
    display: block;
    padding: 5px;
    text-decoration: none;
}
.lasted{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}
.item {
    padding: 5px;
    width: 30%;
    text-align: center;
}